{% extends "base.html"%}
{% block title%}Home{% endblock%}
{% block content %}
    <header>
        <div class="header d-fluid">
            <div class="headerrow row">
                <div class="col-sm-10"></div>
                <div class="col-sm-2 text-end">
                    <a href="{% url 'login' %}" class="credential" role="button">Login</a>
                </div>
            </div> 
        </div>
    </header>
    <section id="hero" class="d-flex align-items-center justify-content-center">

    </section>
    <section id="content" class="container-fluid py-5 text-center">
        <div class="container">
            <p class="text d-inline-block">
                La union de la Inteligencia Artificial
                con el Trading. <br><br>
                Gestiona, monitoriea y mejora tus estrategias<br> de Trading.
            </p>
        </div>
    </section>

    <footer>

        <h2>Created by: Brahian Toro Valencia</h2>

    </footer>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const textElement = document.querySelector(".text");
    
            const observer = new IntersectionObserver((entries) => {
                entries.forEach((entry) => {
                    if (entry.isIntersecting) {
                        textElement.classList.add("animate"); // Activa la animación
                        observer.unobserve(textElement); // Detiene la observación para que no se repita
                    }
                });
            });
    
            observer.observe(textElement); // Inicia la observación
        });
    </script>

{% endblock%}